
body {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/05/42/23562700afd2c19.jpg);
  background-repeat: no-repeat;
  background-size: 10000px 30000px;
  }
.bear {
  color: red;
  }
h5 {
  color: grey;
  }
li {
  font-size: 15px
